h3{
    text-align: center;
}
 h2{
     text-align: center;
 }
#allGroups{
    margin: auto;
    width: 1200px;
}
.coin{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
}

.group{
    display: inline-block;
    margin-right: 100px;
}

#group1 .coin{
    background-color: red;
}

#group2 .coin{
    background-color: green;
}

#group3 .coin{
    background-color: blue;
}

